**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
package-lock.json
yarn-error.log
yarn.lock
.history
.umi
.umi-production
.stylelintrc.js
dist
public
docker
node_modules
.env
.idea
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
LICENSE
**/*.yml
